<%# Footer %>
  <div class="footer">
      <div class="footer-btn-with-icon">
        <%# <%= link_to  home_path do %>
        <%# <%= 'active' if controller_name == 'pages' && action_name == 'home' %>
        <i class="fa-solid fa-house"></i>
        <div>Home</div>
        <%# <% end %>
      </div>

      <div class="footer-btn-with-icon">
        <%# <%= link_to bookmarks_path do %>
        <%# <%= 'active' if controller_name == '' && action_name == '' %>
        <i class="fa-solid fa-bookmark"></i>
        <div>Bookmarks</div>
        <%# <% end %>
      </div>
  </div>
