<%# NAV BAR CHILD PAGE%>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-child">
    <div>
      <a href= "">
        <div class="btn-with-icon">
          <i class="fa-solid fa-angle-left"></i>
          <%= link_to 'Back', request.referer || root_path, class: "btn btn-with-icon" %>
        </div>
      </a>
    </div>
    <% if (controller_name == "runs") %>
      <%= link_to bookmarks_path do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    <% end %>
  </div>
