<%# NAV BAR CHILD PAGE%>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-child">
    <div>
      <a href= "">
        <div class="btn-with-icon">
        <i class="fa-solid fa-angle-left"></i>
        <a class="btn-text" href="#">Back</a>
      </div>
      </a>
    </div>
    <a href="" class="fa-solid fa-xmark"></a>
  </div>
