<h1>Hello</h1>
<h2>Testing</h2>

<%# NAV BAR PARENT PAGE%>
<div class="navbar navbar-expand-sm navbar-light navbar-runware">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo.png", alt: "Logo", width: 120, height: 24 %>
</a>
  </div>
</div>



<%# Button %>
<a class="btn btn-invisible" href="#">Back</a>
