<h1>Hello</h1>
<h2>Testing</h2>

<%# NAV BAR PARENT PAGE%>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-parent">
    <div class="container-fluid">
      <a  href="">
        <%= image_tag "logo.png", alt: "Logo", width: 120, height: 24 %>
      </a>
    </div>
  </div>

<%# NAV BAR CHILD PAGE%>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-child">
    <div class="container-fluid">
      <div>
        <a href= "">
          <div class="btn-with-icon">
          <i class="fa-solid fa-angle-left"></i>
          <a class="btn-text" href="#">Back</a>
        </div>
        </a>
      </div>
      <a href="" class="fa-solid fa-xmark"></a>
    </div>
  </div>

<%# Button with icon %>
  <div class="btn-with-icon">
    <i class="fa-solid fa-angle-left"></i>
    <a class="btn-text" href="#">Back</a>
  </div>

<%# Button  primary %>
<a class="btn btn-primary" href="#">button</a>

<%# Button  ghost%>
<a class="btn btn-ghost" href="#">button</a>

<%# Button  play%>
<a class="btn btn-play" href="#"><i class="fa-regular fa-circle-play"></i></a>


<%# Footer %>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-child">
    <div class="container-fluid">
      <div>
        <a href= "">
          <div class="btn-with-icon">
          <i class="fa-solid fa-angle-left"></i>
          <a class="btn-text" href="#">Back</a>
        </div>
        </a>
      </div>
      <a href="" class="fa-solid fa-xmark"></a>
    </div>
  </div>
