// .footer {
//   justify-content: space-between;
//   background: #F5F5F5;
//   height: 40px;
//   padding: 0px 8px;
// }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0px 40px;
  background-color: #F5F5F5;
  border-top: 1px solid #e0e0e0;
  height: 80px;
  width: 100vw;
  transition: color 0.3s ease;
  position: fixed;
  bottom: 0;
}

.footer-btn-with-icon {
  text-decoration: none;
  font-size: 16px;
  color: #BDBDBD;
}

.footer-btn-text {
  transition: opacity 0.3s ease;
  color: #553BD9;
  font-weight: bold;
  font-size: 16px;
}

.footer-btn i {
  font-size: 24px;
  margin-bottom: 4px;
}

.footer-btn-icon:hover {
  color: #001DB8;
}

.footer-active {
  color: #001DB8;
}
