.custom-form-input {
  border: 1px solid #EDE7FA;
  border-radius: 7px;
  border-width: 2px;
  color:#553BD9 ;
  font-size: 1rem;
  margin-bottom: 15px;
}

.custom-form-input:focus {
  background-color: #EDE7FA
}

h2 {
  color: black;
  font-weight: bold;
}

.form-inputs {
  background-color: white;
  font-weight: bold;
  font-size: inter;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  color:#553bd9 ;
  font-weight: bold;
  box-shadow: 0px 0px 1px 1px #e1dede;

}

.container{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F5F5F5;;
  width: 100%
}

.suggestions-container {
  position: absolute;
  top: 100%; /* Ensure it appears below the input */
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
}

.btn-wide {
  width: 100%
}

#submit-button {
  margin: 0px 0px;
  padding: 8px;
  margin-top: 15px;

}
