.custom-form-input {
  border: 1px solid #EDE7FA;
  border-radius: 7px;
  border-width: 2px;
  color:#553BD9 ;
  font-size: large;

}

h4 {
  color: black;
  font-weight: bold;
}

.form-inputs {
  color:#553BD9 ;
  font-weight: bold;
  font-size: inter;

}

.container{
  padding-top: 25px;
  padding-bottom: 25px;
  // background-color: #F8f8f2;
  width: 100%
}
