#summary-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 100vh;
  // width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: 990;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 40%;
}

#summary-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 991;
  width: 80%;
}

.modal-content-title {
  display: flex;
  justify-content: space-between;
}
