
// NAVBAR-PARENT
.navbar-runware-parent {
  justify-content: space-between;
  background: #F5F5F5;
  height: 80px;
  padding: 0px 24px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 99;
}

.navbar-runware-parent .navbar-collapse {
  flex-grow: 0;
}

// NAVBAR-CHILD
.navbar-runware-child {
  justify-content: space-between;
  background: #F5F5F5;
  height: 80px;
  padding: 0px 8px;
  position: fixed;
  width: 100vw;
  z-index: 99;
}

.navbar-runware-parent .runware-child {
  flex-grow: 0;
}
