.custom-form-input-new {
  border: 1px solid #EDE7FA;
  border-radius: 7px;
  border-width: 2px;
  color:#553BD9 ;
  font-size: large;
  margin-bottom: 15px;


}

.custom-form-input:focus {
  background-color: #EDE7FA
}

h2 {
  color: black;
  font-weight: bold;
}

.form-inputs-new {
  background-color: white;

  font-size: 10px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color:#1b1b1c ;
  box-shadow: 0px 0px 1px 1px #e1dede;

}

.container{
  padding: 0px;
  background-color: #F5F5F5;
  width: 100%
}


.btn-wide {
  width: 100%
}

#submit-button {
  margin: 0px 0px;
  padding: 8px;
  margin-top: 15px;
}

.inline-p p {
  display: inline;
  margin-right: 10px;
  font-size: 10px;

}

#favorite-button {
  margin: 0px 0px;
  padding: 8px;
  margin-top: 10px;
  font-weight: bold;
  border-color:#553BD9;
  margin-top: 0px;
}

#comment {
width: 100%;
border-radius: 8px;
color: #1b1b1c;
border: 2px solid #B09EEC;
font-size: 13px;
margin-top: 0px;
}

#comment:hover {
  border-color: #553BD9;
}

#comment-heading {
margin-top: 16px;
margin-bottom: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  text-align: center;
  margin: 5px auto;
  max-width: 600px;
}

.grid-container div {
  padding: 5px;
  font-weight: bolder;
  font-size: 12px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.upload-box {
  width: 200px;
  height: 105px;
  border: 2px solid #f4f3f8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-image: url('chessbck.jpg'); /* Add your image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 5px;
}

.upload-box:hover {
  border-color: #553BD9;
}

.upload-box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  display: none;
}

.upload-box .icon {
  font-size: 24px;
  color: #1a1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-file-input {
  display: none;
}
