<h1><%= @run.route.name %></h1>
<div class="gif">
<img src="https://res.cloudinary.com/dlmjemn37/image/upload/v1733322268/running-gif_upkibk.gif" alt="Running GIF" width="342">
</div>
<%= link_to 'Stop run',  end_run_path(@run), data: { turbo_method: :patch}, class: 'btn btn-running' %>
