<h1><%= @route.name %></h1>

<p><strong>Description:</strong> <%= @route.description %></p>
<p><strong>Distance:</strong> <%= @route.distance %> km</p>

<%= link_to 'Start',  route_runs_path(@route), data: { turbo_method: :post}, class: 'btn btn-primary' %>
