// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");


a {
  text-decoration: none;
  color: #553BD9;
}

h1 {
  font-size: 24px;
  color: #1C1C1C;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}

h2 a {
  color: #553BD9;
  font-weight: bold;
}

h5 {
  font-size: 12px;
  color: #333333;
  font-weight: bold;
}
ul {
  color: #333333;
}

.container-page {
  margin: 104px 24px;
  background: #ffffff;
}

.container-page-child {
  margin: 104px 24px 24px 24px;
  background: #ffffff;
}

p {
  font-size: 16px;
  color: #333333;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #ffffff;
}
